<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adahe.airport.user.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.adahe.airport.user.domain.User">
            <id property="id" column="id" />
            <result property="nickname" column="nickname" />
            <result property="username" column="username" />
            <result property="role" column="role" />
            <result property="password" column="password" />
            <result property="avatar" column="avatar" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="deleted" column="is_deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,nickname,username,role,password,avatar,
        create_time,update_time,is_deleted
    </sql>
    <select id="getByUsername" resultType="com.adahe.airport.user.domain.User">
        SELECT * FROM user WHERE username = #{username};
    </select>
</mapper>
